Hand Computer Control/CNN/Pictures/
Hand Computer Control/CNN/Models/CNNModel.h5
Hand Computer Control/CNN/"Picture Collector.py"
Hand Computer Control/CNN/Test.py
Hand Computer Control/Hand Tracking.sln
Hand Computer Control/.vs